body{
    margin: 0px;
    font-family: Arial, sans-serif;
}


.background {
    width: 100%;
    height: 100vh;
    background-image: url(images/sitebg.png);
    background-position: center;
    background-size: cover;
}
*{
    text-decoration: none;
    color: inherit;
}
.side-nav {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    font-size: 12px;
    padding: 0px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: 0px;
}

.navbar h2 {
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
}

.pog-pic {
    width: 30%;
    margin: 8px;
    
}

ul {
    list-style: none;
    padding: 0 15px;
    
} 

ul li{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    cursor: pointer;
}

ul li img{
    width: 30px;
    margin-right: 10px;
}

.side-nav .navbar {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);

}


